<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <div class="center">
            <h2 class="title">VUE-MVVM实现原理</h2>
            <p class="description">
                探索vue数据与视图绑定与更新原理
            </p>
            <div class="box">
                <div class="line"></div>
                <table class="view">
                    <thead>
                        <th>
                            <h3>视图</h3>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>v-model='obj.name'</td>
                            <td><input type="text" v-model='obj.name'></td>
                        </tr>
                        <tr>
                            <td>v-model='msg'</td>
                            <td><input type="text" v-model='msg'></td>
                        </tr>
                        <tr>
                            <td>v-text='obj.name'</td>
                            <td v-text='obj.name'></td>
                        </tr>
                        <tr>
                            <td>{ { obj.age } }</td>
                            <td>{{obj.age}}</td>
                        </tr>
                        <tr>
                            <td>{ { obj.name } }---{ { obj.age } }</td>
                            <td>{{obj.name}}--{{obj.age}}</td>
                        </tr>
                        <tr>
                            <td>v-html</td>
                            <td v-html='htmlStr'></td>
                        </tr>
                        <tr>
                            <td>v-bind:src="imgSrc"</td>
                            <td><img v-bind:src="imgSrc" v-bind:alt="altTitle"></td>
                        </tr>
                        <tr>
                            <td>v-on:click</td>
                            <td><button v-on:click='changeHtmlStr'>更新htmlStr</button></td>
                        </tr>
                        <tr>
                            <td>@click</td>
                            <td><button @click='changeAge'>更新obj.age</button></td>
                        </tr>
                    </tbody>
                </table>
                <table class="data">
                    <thead>
                        <th>
                            <h3>数据</h3>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>title: {{title}},</li>
                                    <li>obj: {
                                        <ul>
                                            <li>name:&nbsp;'{{obj.name}}',</li>
                                            <li>age:&nbsp;'{{obj.age}}'</li>
                                        </ul>
                                    </li>
                                    <li>},</li>
                                    <li>msg:&nbsp;'{{msg}}',</li>
                                    <li>htmlStr:&nbsp;'{{htmlStr}}',</li>
                                    <li>imgSrc:&nbsp;'{{imgSrc}}'</li>
                                </ul>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>



    </div>
    <script src="./Observer.js"></script>
    <script src="./zssVue.js"></script>
    <script>

        let vm = new ZssVue({
            el: '#app', // 传入dom根节点
            data: {
                title: 'MVVM实现原理',
                obj: {
                    name: '张莎莎',
                    age: 24
                },
                msg: 'MVVM实现原理',
                htmlStr: "<h3>hello MVVM</h3>",
                imgSrc: './images/dog.png',
                altTitle: '眼睛',
                isActive: 'true'

            },
            methods: {
                changeHtmlStr(){
                    this.htmlStr = '<h3 style="color:#ff6035"><i>HTML更新<i></h3>'

                },
                changeAge() {
                    this.obj.age = 18
                },
                changeData() {
                    alert('更新数据')
                },
                handlerClick() {
                    alert('html改变');

                },
                handlerClick2() {
                    this.msg = '我行即我道'
                    this.obj.name = '张天狗'
                    alert('输入框改变')
                }
            }

        })
    </script>
</body>

</html>